* {
    margin:0;
    padding: 0;
        
}



.nav{
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 45px;
}

.nav h1{
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
}

header img{
    position: relative;
    left:1400px;
    bottom:120px
}

.nav-content{
    width: 550px;
    height: 300px;
}

.nav-content h1{
    font-family: 'Heebo', sans-serif;
    font-size: 90px
}

.nav-content h4{
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 37px;
    width: 700px;
    letter-spacing: 3px;
}

.nav-content h3{
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 2px;
}

.nav-content p{
    font-family: 'Heebo', sans-serif;
    font-size: 12px;
    font-weight: 200;
}


.head-photo{
    margin-left: 80px;
    width: 80%;
    height: 340px;
    display: flex;
    flex-direction: row;

}

.nav-photo {
    position: relative;
    left:200px;
    bottom:180px
}

.label{
    width:100%;
    display: flex;
    flex-direction: row;
}

.midtext{
    background-color:black;
    width:553px;
    color:white;
    padding:50px;

}


.midtext h3{
    font-family: 'Heebo', sans-serif;
    font-weight:500;
    font-size: 20px
}

.midcont{
    padding-top: 60px;
    line-height: 20px;
    font-family: 'Heebo', sans-serif;
    font-weight: 200;
}

.midtext span{
    font-size: 40px;
    position: relative;
    top:6px
}

.midtext p{
    font-family: 'Heebo', sans-serif;
    font-size: 13px;
    padding-top: 10px;
}

.service span{
    font-size:40px;
    position:relative;
    top:4px;
    font-family: 'Barlow', sans-serif;
}


.service{

    margin-left:300px;
    margin-right: 300px;
    margin-bottom: 40px;
    font-family: 'Barlow', sans-serif;
    font-size: 20px
}

hr{
    margin-top: 17px;
}

.top-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family:  'Heebo', sans-serif;
    font-size: 13px;
}

.content{
    width: 400px;
    display: flex;
    flex-direction: column;
}

.content h3{
    margin-top: 17px;
}

.contentphoto{
    position: relative;
    bottom:120px
}

.content-wrapper1{
    text-align: right;
}


.topdivider{
    background-color: black;
    width: 51.3%;
    height: 470px;
}

.sec{
    color: white;
    padding-top: 70px;
    width:400px;
}

.sec hr{
    margin-top: 9px;
    margin-left: 3px;
    margin-bottom: 40px;
}

.sec p{
    font-size: 10px;
    margin-top: 20px;
    line-height: 20px;
}

.sec button{
    background-color:rgb(255, 255, 255);
    margin-top: 25px;
    width: 140px;
    height: 30px;
}

.photodivider{
    display: flex;
    flex-direction: row;
}

.midcontent{
    display: flex;
}


.cookies{
    display: flex;
    flex-direction: row;
    padding-left: 270px 
}

.cookie{
    width: 270px;
    height: 300px;
    border: solid 3px black;
    margin: 120px 20px;
}

.cookie img{
    position: relative;
    left:32px;
    bottom:90px
}

.cookie h3{
    position: relative;
    left: 70px;
    bottom: 100px;
    font-family: 'Heebo', sans-serif;
    font-size: 17px;
    font-weight: 500;
    
}

.cookie p{
    position: relative;
    bottom: 80px;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 13px;
    font-weight: 300;
}



.divimg img{
    width: 100%;
    filter: brightness(50%);
  
}

.divider{
    position: relative;
    bottom:430px;
    display: flex;
    margin-left: 300px;
    margin-bottom: -190px;


}

.divider-content{
    width: 400px;
    margin: 30px;
    color: white;
}

.divider span{
    font-size: 100px;
    font-family: 'Heebo', sans-serif
}

.divider-author{
    display: flex;
    margin-top: 30px;
}

.divider-author p{
    padding-top: 15px;
    padding-left: 10px;
}

.contentwrapper{
    margin-left: 300px;
    margin-bottom: 40px;
}

.contentwrapper p{
    width: 900px;
    font-family: 'Heebo', sans-serif
}

.line{
    height: 2px;
    width: 340px;
    background-color: black;
    margin-bottom: 30px;
    margin-top: 83px;
}


.linetext span{
    font-weight:900;
}

.linetext h3{
    font-weight: 400;
    font-size: 28px;
}
.eventcontent{
    display: flex;
}
.eventtextunderline{
    width: 400px;
    padding-left: 30px;
    padding-top: 30px;
    font-family: 'Heebo', sans-serif
}

.eventtextunderline h3{
    font-size: 30px;
}

.eventtextunderline h5{
    font-size: 20px;
}

.linecontent{
    display: flex;
}


.linetext{
    padding-top: 65px;
    padding-left: 10px;
    font-family: 'Heebo', sans-serif;
    font-size: 13px;
    font-weight: 300;
}


.eventphoto{
    margin-left: 70px ;
    margin-top: 40px;
}

.eventtextunderline p{
    line-height: 30px;
    width: 300px;
    font-family: 'Heebo', sans-serif 
}


.belowside img{
    filter: brightness(30%);
    width: 100% 
}

.belowcontent{
    display: flex;
    justify-content: space-evenly;
    color:white;
    position: relative;
    bottom:190px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
}


.below{
    width: 420px;
    height: 340px;
    background-color: rgb(255, 255, 255);
    margin-left: 300px;
    margin-top: 100px;
}

.belowheader{
    display: flex;
    flex-direction: row;
    font-family: 'Heebo', sans-serif
}

.belowdata{
    font-size: 30px;
    margin-right: 30px;
    line-height: 29px;
    text-align: center;
}

.belowdata h3{
    position: relative;
    top:20px
}

.belowdata span{
    font-size:53px;
    text-align: center;
}


.belowparagraph h4{
    font-size: 30px;
  
}

.belowparagraph p{
    
    font-size: 12px;
    
}
.belowcontent2{
    display: flex;
    height: 650px;

}

.belowphoto{
    position: relative;
    top:50px;
    left:60px
}

.belowphoto2{
    position: relative;
    left:300px;
}


.belowcontentpar p{
    margin-top: 24px;
    font-family: 'Heebo', sans-serif;
    font-size: 13px
}

.below2{
    width: 420px;
    height: 340px;
    background-color: rgb(255, 255, 255);
    margin-left: 350px;

}

.belowcontentpar button{
    margin-top: 50px;
    background-color: black;
    color: white;
    width:140px;
    height: 35px;
}

footer{
    padding-top: 80px;
    height: 350px;
    background-color: black;
    color:white;
    
}



.footers{
    display: flex;
    height: 270px;
    padding-top: 10px;  
    font-family: 'Heebo', sans-serif; 
    font-weight: 200;
    font-size: 13px
}

.footers h2{
    font-family: 'Great Vibes', cursive;
}
.footertitle{
    padding-top:25px;
    height: 30px;
    font-size: 40px;
    padding-left: 320px;
    padding-right: 150px;
}

.footerright p{
    width: 30px;
}

.wearebest{
    padding-right: 140px;
}

.wearebest2{
    padding-right: 60px;
}

.footerright input{
    margin-top: 10px;
    width: 200px;
    background-color:black;
    border: solid 1px rgb(56, 56, 56);
    height: 35px;
}

li{
    list-style-type: none;
}

.footerright button{
    width: 43px;
    background-color:rgb(189, 189, 189);
    height: 40px;
}

.cont{
    background-color:white;
    display: flex;
    justify-content: center;
}